/* reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* commons  */
html{
    font-family: 'Open Sans', sans-serif;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* btn  */
.button{
    height: 30px;
    /* background-color: green; */
    text-align: center;
    line-height: 30px;
}
.button a{
    text-decoration: none;
    padding: 20px;
    color: white;
}
.bck-color1{
    background-color: #0065FF;
}
.container-large{
    max-width: 1300px;
    margin: auto;
    background-color: #B4D0E6;
}
/* header */
header{
    min-width: 100%;
    min-height: 90px;
    /* position: fixed;
    z-index: 8; */
    background-color: white;
}
/* navigation left */
.left-col-nav{
    float: left;
    width: 50%;

}
.logo{
    display: inline-block;
    padding: 30px 30px;
    vertical-align: middle;
}
.left-nav-txt, .button, .right-nav-txt{
    display: inline-block;
    vertical-align: middle;
}
.left-nav-txt a, .right-nav-txt a{
    text-decoration: none;
    margin-right: 30px;
    color: inherit;
}
/* navigation right  */
.right-col-nav{
    text-align: right;
    width: 50%;
    float: right;
    padding: 30px;
}
#no-margin{
    margin: 0;
}
/* body - section 1 - hero  */
.section-1{
    background-color: #B4D0E6;
}
h1{
    padding-top: 50px;
    font-size: 80px;

}
/* left side hero  */
.left-col-hero{
    padding-top: 30px;
    float: left;
    width: 30%;
}
.button-hero{
    margin-top: 40px;
    margin-bottom: 10px;
}
.arrow{
    padding: 30px;
    font-size: 30px;
}
/* right side hero  */
.right-col-hero{
    float: right;
    width: 60%;
}
.right-col-hero img{
    height: 500px;
    padding: 30px;
}

#smaller, .section-1{
    height: 650px;
}