                    /* reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
                    /* /reset  */
                    /* commons  */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.bck-color1{
    background-color: #0065FF;
}
.light-color{
    color: lightgray;
}
.color-zero{
    color: inherit;
}
.container-large{
    max-width: 1300px;
    margin: auto;
    background-color: #B4D0E6;
}
.container-small{
    max-width: 1080px;
    margin: auto;
    /* background-color: aquamarine; */
}
.right-align {
    float: right;
}
h1{
    padding-top: 140px;
    font-size: 80px;

}
h2{
    padding-top: 150px;
    font-size: 40px;
}
div input{
    margin-top: 40px;
    margin-bottom: 30px;
}
label{
    margin-right: 20px;
}
h3{
    font-size: 28px;
    display: inline-block;
}
h4{
    margin-bottom: 15px;
}
p a {
    text-decoration: none;
    color: #0065FF;
}
hr{
    width: 20%;
    color: #D0D0D3;

}
li i{
    color: #0065FF;
    margin-right: 3px;
    font-weight: bold;
}
p i{
    margin-right: 3px;
}
.partner-col-left img, .operation-block img{
    width: 100%;
    height: 100%;
}
.color-block1{
    background-color: #A2D39B;
}
.color-block2{
    background-color: #61082B;
}
.color-block3{
    background-color: #0093CE;
}
.color-block4{
    background-color: #FF1C1C;
}
.color-block5{
    background-color: #D5001F;
}
.color-block6{
    background-color: #B4D0E7;
}
.color-block7{
    background-color: #0D2481;
}
.color-block8{
    background-color: #FFD830;
}
                    /* /commons  */
                     /* button  */
.button{
    height: 30px;
    min-width: 80px;
    display: inline-block;
    
    /* background-color: green; */
}
.button a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 0 20px;
    display: block;
    color: white;
    text-align: center;
    line-height: 30px;
    /* font-weight: bold; */
}
                    /* /button  */
                    /* typo  */
html{
    font-family: 'Open Sans', sans-serif;
}
.left-col-hero p, div span{
    font-weight: bold;
}
                    /* /typo  */
                    /* header */
header{
    min-width: 100%;
    min-height: 90px;
    position: fixed;
    z-index: 8;
    background-color: white;
}
                    /* navigation left */
.left-col-nav{
    float: left;
    width: 50%;

}
.logo{
    display: inline-block;
    padding: 30px 30px;
    vertical-align: middle;
}
.left-nav-txt, .right-nav-txt{
    display: inline-block;
    vertical-align: middle;
}
.left-nav-txt a, .right-nav-txt a{
    text-decoration: none;
    margin-right: 30px;
    color: inherit;
    font-weight: bold;
}
                    /* navigation right  */
.right-col-nav{
    text-align: right;
    width: 50%;
    float: right;
    padding: 30px;
}
#no-margin{
    margin: 0;
}
                    /* /header  */
                    /* main - hero - section  */
.section-hero{
    background-color: #B4D0E6;
}
                    /* left side hero  */
.left-col-hero{
    padding-top: 30px;
    float: left;
    width: 30%;
}
.button-hero{
    margin-top: 30px;
    margin-bottom: 10px;
}
.arrow{
    padding: 30px;
    font-size: 30px;
}
                    /* right side hero  */
.right-col-hero{
    float: right;
    width: 60%;
}
.right-col-hero img{
    height: 100%;
    width: 100%;
    padding: 30px;
}
                    /* /main - hero - section  */
#smaller{
    height: 740px;
}

                    /* plans section  */
.plans{
    margin-bottom: 120px;
}
.plans-left-col, .plans-middle-col, .plans-right-col{
    float: left;
    /* background-color:fuchsia; */
    width: calc(100% / 3 - 40px);
    height: 900px;
    margin: 0 60px;
    border: solid #D0D0D3 1px;
}
.plan-user {
    text-align: center;
    border-bottom: solid #D0D0D3 1px;
}
.plan-user p, .plan-info p{
    padding: 8px 0;
}
.plan-info{
    padding: 25px;
}
.button-plans{
    margin-top: 40px;
    margin-bottom: 30px;
    width: 100%;
}
.plan-info ul li{
    margin-bottom: 15px;
    font-size: 14px;
}
.plan-info ul{
    list-style-type: none;
}
.col-bottom{
    margin-top: 50px;
    width: 100%;
    border: solid #D0D0D3 1px;
}
.button-plans-b a{
    padding: 0 60px;
}
                    /* /plans section  */
                    /* partner section  */
.partner-col-left{
    float: left;
    width: 57%;
}  
.partner-col-right{
    float: right;
    width: 37%;
}
.partner-col-right h4{
    padding-top: 30px;
} 
.button-partner{
    margin-top: 20px;
    border: solid black 1px;
}
.button-partner a{
    color: black;
}     
                   /* /partner section  */
                   /* operations section  */
.operations-section{
    margin-top: 70px;
}
.operation-block{
    float: left;
    width: calc(100% / 3 - 40px);
    margin: 0 60px;
    padding-top: 50px;
    /* background-color: fuchsia; */
}
.container-small h3{
    display: block;
}
                    /* /operations section  */
                    /* Business section  */
.business{
    margin-top: 150px;
    height: 700px;
}
.business h3{
    max-width: 50%;
    margin: 20px 0;
}

.business-block{
    margin-top: 40px;

}
.right-general{
    float: right;
    width: 30%;
}
.left-general{
    float: left;
    width: 30%;
}
.center-general{
    height: 570.88px;
    float: left;
    width: 40%;
    background-color: #F5F5F5;
}
.small-block-business{
    float: left;
    width: 50%;
    height: 285.44px;
    position: relative;
}
.small-block-business img{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: white;
}


